<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @plant.frequency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @plant.amount %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @plant.unit_of_measure %>
</p>

<p>
  <strong>Location:</strong>
  <%= @plant.location %>
</p>

<p>
  <strong>Garden:</strong>
  <%= @plant.garden.name %>
</p>

<%= link_to 'Edit', edit_garden_plant_path(@garden, @plant) %> |
<%= link_to 'Back', garden_plants_path(@garden) %>
